.home-div{
	text-align: center;
	font-size: 30px;
}

.allsections-div{
	padding: 0;
	margin: 0;
}

.section-div{
	width: 24%;
	display: inline-block;
	text-align: center;
}

.headimage-div{
	height: 100px;
	width: auto;
}